Django==3.1.1
mysql-connector==2.2.9
virtualenv==20.0.31
dj-database-url==0.5.0
gunicorn==20.0.4
psycopg2==2.8.6
whitenoise==5.2.0
Pillow==7.2.0
requests==2.24.0
django-modeltranslation~=0.18.2
appdirs==1.4.4
asgiref==3.5.1
certifi==2021.10.8
chardet==3.0.4
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.4
django-ckeditor==6.4.2
django-js-asset==2.0.0
django-modeltranslation==0.18.2
django-phonenumber-field==6.3.0
django-phonenumbers==1.0.1
django-translated-fields==0.12.0
filelock==3.7.0
gunicorn==20.0.4
idna==2.10
modeltranslation==0.25
mysql-connector==2.2.9
phonenumbers==8.12.51
Pillow==9.1.0
psycopg2==2.9.3
python-gettext==4.0
pytz==2022.1
requests==2.24.0
reverse==0.1.0
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
urllib3==1.25.11
virtualenv==20.0.31
whitenoise==5.2.0
